html, body, .navigation, .setting{
    margin: 0px;
}
@font-face{
    font-family: Agenda Bold;
    src: url(ufonts.com_mlb-blue-jays-modern.ttf);
}
html, body {
    font-size: 12.3px;
    font-family:'Open Sans';
    color: #656d78;
}
body{
    height: 1123px;
    width: 1224px;
    background: #736da3;
    padding: 100px;
    box-sizing: border-box;
}
.header {
    width: 1024px;
    height: 60px;
    background: #ffffff;
    box-sizing: border-box;
    border-bottom: #ccd0d9 1px solid;
}

.navigation{
    float: left;
    width: 200px;
    height: 863px;
    background: #f6f7fb;
    box-sizing: border-box;
    padding:0px;
    border-right: #ccd0d9 1px solid;
}

.general {
    width: 624px;
    height: 724px;
    background: #ffffff;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    border-bottom: #ccd0d9 solid 1px;
    border-collapse: collapse;
}
.navigationButton{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
.navigationC>p, .listOfContacts>p{
    margin: 10px 20px;
    padding: 10px 0;
    line-height: 10px;
}
.navigationC{
    margin: 20px 0;
    box-sizing: border-box;
    height: 151px;
    width: 200px;
}

 .contacts > span{
    display: block;
    line-height: 18px;
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 27px;
    font-weight: 400;
    color: #333333;
    font-family: Agenda Bold;
}
.navigation hr {
    margin: 30px 0 29px 0; 
}
.logo {
    height: 60px;
    font-size: 18px;
    color: #333333;
    width: 200px;
    box-sizing: border-box;
    padding: 15px 20px;
    float: left;
}
.logo-image {
    margin-right: 10px;
    float: left;
}
.logo-image + div{
    padding: 10px;
    line-height: 10px;
}
.logo-image + div span{
    font-weight: bold;
}
.massagetreats{
    float: left;
    height: 60px;
    width: 573px;
    /*min-width: 60%;
    width: calc(100% - 440px);*/
    box-sizing: border-box; 
}
.main-feed {
    height: 60px;
    font-weight: 800;
    line-height: 10.3px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px 16px;
    color:#5a4dc6;
    border-bottom: 2px #5a4dc6 solid;
}
.massagetreats div{
    float: left;
}
.imgtreats{
    float: left;
}
.imgtreats +div {
    padding: 10px;
    padding-right: 0px;
    height: 10px;
}
.jonas_for_other{
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    line-height: 10.3px;
    padding: 13px 20px 15px;
}
.Sue_Tayson {
    height: 60px;
    line-height: 10.3px;
    display: inline-block;
    box-sizing: border-box;
    padding: 13px 20px 15px;
}
.closebutton{
    width: 13px;
    height: 13px;
    padding: 9px 0 10px 10px;
}
.avatar-me {
    float: right;
    height: 60px;
    width: 200px;
    box-sizing: border-box;
    padding: 16px 20px 15px 20px;
    line-height: 10px;
    position: relative;
}
#borderImg{
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 0;
    border-radius: 15px;
}
.avatar-me img {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    left: -5px;
    top: -5px;
}
.avatar-me div{
    float: left;
    padding: 10px;
}
div.dropdown{
    border-radius: 2px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    float: right;
    border: 1px solid #ccd0d9;
}
.dropdown img {
    width: 8px;
    height: 4px;
    position: relative;
    top: 3px;
    left: 0px;
}
.addbutton {
    float: right;
    width: 30px;
    height: 30px;
    padding: 3px 7px;
    box-sizing: border-box;
    margin: 15px 0;
    border: #ccd0d9 1px solid;
    margin-right: 1px;
    border-radius: 2px;
}
.addbutton src {
    vertical-align: middle
}

.setting{
    float: right;
    /*padding: 20px;*/
    width: 200px;
    /*max-width: 200px;*/
    height: 863px;
    background: #f6f7fb;
    box-sizing: border-box;
    border-left: #ccd0d9 1px solid;
}

.company-menu img {
    width:16px;
    height: 16px;
}
.st_menu{
    width: 160px;
    margin: 10px 0;
}
.company-menu{
    border: 1px solid #ccd0d9;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 6px;
    float: right;
    background: #ffffff;
}
.st_menu div:first-child{
    display: inline-block;
    padding: 10px 0;
    line-height: 10px;
    font-weight: 700;
    color: #434a54;
}
.list_of_st {
    box-sizing: border-box;
    padding: 20px;
    width: 200px;
    float: left;
}
.st_bt {
    box-sizing: border-box;
    float: left;
    padding: 6px 0;
    text-align: center;
    display: table-cell;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #656d78
}
.st_bt + p{
    padding: 10px 0;
    line-height: 10px;
    margin: 0;
}
.date_ms {
    float: right;
    padding: 10px 0;
    font-size: 11px;
}
.message>img+div {
    float: left;
}
.message {
    border-bottom: 1px solid #ccd0d9;
    border-collapse: collapse;
    padding: 20px 0;
    box-sizing: border-box;
    height: 71px;
    line-height: 10px;
}
.message::after {
    content: '';
    display: table;
    clear: both;
    font-size: 0;
}
.text_ms {
    padding: 20px 0;
    box-sizing: border-box;
    height: 99px;
    border-bottom: 1px solid #ccd0d9;
}
.MessageText + div {
    line-height: 10px;
    color:#aab2bd;
}
.MessageText {
    padding-bottom: 20px;
    color: #aab2bd; 
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.text_ms div a {
    color: #5a4dc6;
}
.message-image {
    box-sizing: border-box;
    height:264px;
    padding-top: 20px;
    padding-bottom: 50px; 
}
.message-image img {
    width: 316px;
    height: 194px;
}
.headnavigation {
    padding: 20px;
    padding-bottom: 0px;
    vertical-align: middle;
    font-size: 13px;
    box-sizing: border-box;
    height: 51px;
    width: 200px;
}
.headnavigation div:first-child{
    float: left;
    padding: 10px;
    font-size: 18px;
    font-family: Agenda Bold;
    line-height: 13px;
    padding-left: 0px;
    font-weight: 400;
    color: #000000;
}
.appendbutton {
    box-sizing: border-box;
    font-size: 15px;
    float: right;
    width:30px;
    height: 30px;
    padding: 4px 9px ;
    background: #ffffff;
    border: 1px solid #ccd0d9;
}
.postelement {
    width: 624px;
    height: 140px;
    background: #f6f7fb;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    height: 138px;
    /*height: 100%;*/
}
.text-area {
    background: #ffffff;
    width: 100%;
    color: #aab2bd;
    padding: 20px;
    box-sizing: border-box;
}
.text-area::after{
     content: '';
    display: table;
    clear: both;
    font-size: 0;
}
.appbn {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    float: left;
    width:30px;
    height: 30px;
    padding: 4px 9px ;
    color: #656d78;
    border: 1px solid #ccd0d9;
}
.text-area div:nth-child(1) {
    padding-bottom: 20px;
}
.post {
    float: right;
    border: none;
    color: #ffffff;
    background: #5a4dc6;
    width: 80px;
    height: 30px;
    font-weight: bold;
}
.main-body {
    height: 863px;
    width: 1024px;

}
.peoplecontact{
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    vertical-align: middle;
    margin: 10px 0;
    position: relative;
}
.peoplecontact p {
    margin: 0;
    line-height: 10px;
    padding: 10px 0;
}
.circle{
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 20px;
    left: 40px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: #a0d468;
}
.cirred{
    background: #db4453;
}
.ciryellow{
    background: #ffce55;
}
.cirgray{
    background: #ccd0d9;
}
.avatar-me .vata{
    padding: 0px;
    top: 36px;
    left: 40px;
}
.company-logo{
    box-sizing: border-box;
    width: 160px;
    height: 160px;
}
.head-setting{
    border-bottom: #656d78 1px solid;
    box-sizing: border-box;
    width: 200px;
    height: 233px;
    padding-top: 20px;
    padding-left: 20px; 
}
.element_of_list{
    box-sizing: border-box;
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
}
.event_st{
    padding: 4px 2px;
}